#dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 15px;
    grid-template-areas: 
        "habit-total habit-total habit-total time-spent time-spent"
        "habit-types habit-types habit-types time-spent time-spent"
        "a b b c d"
}

.chartjs-render-monitor {
    width: 100% !important;
    height: auto !important;
}

.chart {
    border: #ddd solid 1px;
    border-radius: 10px;
    padding: 20px;
}

#habit-total {
    grid-area: habit-total;
}

#time-spent {
    grid-area: time-spent;
}

#habit-types {
    grid-area: habit-types;
}

#a {
    grid-area: a;
}
#b {
    grid-area: b;
}
#c {
    grid-area: c;
}
#d {
    grid-area: d;
}

@media only screen and (max-width: 950px) {
    #dashboard-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px,auto);
        grid-template-areas: 
            "habit-total habit-total habit-total habit-total"
            "time-spent time-spent a b"
            "time-spent time-spent c d"
            "habit-types habit-types habit-types habit-types"
    }
}

@media only screen and (max-width: 600px) {
    #dashboard-container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "habit-total"
            "time-spent"
            "habit-types";
    
    }
}